.sec6 {
    width: 100%;
    padding: 85px 15px;
    &__container {
        max-width: 1270px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 90px;
    }
    @media (max-width: 1440px) {
        padding: 75px 15px;
        &__container {
            max-width: 990px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 60px;
        }
    }
    @media (max-width: 540px) {
        padding: 50px 15px;
        &__container {
            max-width: 100%;
            grid-template-columns: 1fr;
            column-gap: 0px;
            row-gap: 40px;
        }
    }
}

.l-s6 {
    display: flex;
    align-items: flex-start;
    &__span {
        content: '';
        display: block;
        min-width: 70px;
        height: 2px;
        background: #1D2130;
        margin-top: 5px;
        margin-right: 25px;
    }

    &__title {
        max-width: 450px;
        span {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 1.92px;
            text-transform: uppercase;
            color: #1D2130;
            
        }

        h2 {
            margin: 35px 0px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 44px;
            line-height: 44px;
            color: #1D2130;
            
        }

        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #1D2130;
            opacity: 0.7;
        }
    }
    @media (max-width: 1440px) {
        &__span {
            min-width: 50px;
            height: 2px;
            margin-top: 5px;
            margin-right: 15px;
        }
    
        &__title {
            max-width: 350px;
            span {
                font-size: 14px;
                line-height: 14px;
                
            }
    
            h2 {
                margin: 20px 0px;
                font-size: 36px;
                line-height: 36px;
                
            }
    
            p {
                font-size: 14px;
            }
        }
    }
    @media (max-width: 540px) {
        &__span {
            display: none;
        }
    
        &__title {
            max-width: 400px;
            span {
                font-size: 12px;
                line-height: 12px;
                
            }
    
            h2 {
                margin: 10px 0px;
                font-size: 24px;
                line-height: 24px;
                
            }
    
            p {
                font-size: 14px;
            }
        }
    }
}

.r-s6 {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    &__item {

        h4 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
            color: #1D2130;
            margin-bottom: 10px;
        }

        a {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #1D2130;
            text-decoration: none;
            
        }

        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            color: #1D2130;
        }
    }
    @media (max-width: 1440px) {
        row-gap: 20px;
        &__item {

            h4 {
                font-size: 16px;
                line-height: 16px;
                margin-bottom: 8px;
            }
    
            a {
                font-size: 14px;
                line-height: 14px;
                
            }
    
            p {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
    @media (max-width: 540px) {
        row-gap: 15px;
        &__item {
            max-width: 400px;
            h4 {
                font-size: 14px;
                line-height: 14px;
                margin-bottom: 10px;
            }
    
            a {
                font-size: 14px;
                line-height: 14px;
                
            }
    
            p {
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
}