.footer {
    width: 100%;
    background: #1D2225;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__logo {
        display: flex;
        align-items: center;
        svg {
            margin-right: 10px;
        }   

        span {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 22px;
            color: #FFFFFF;
        }
    }
}