.sec1 {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/main-bc.jpg');
    background-repeat: none;
    background-size: cover;
    &__container {
        padding: 50px 80px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 1440px) {
            padding: 40px 70px;
        }
        @media (max-width: 990px) {
            padding: 30px 50px;
        }
        @media (max-width: 769px) {
            padding: 20px 40px;
        }
        @media (max-width: 540px) {
            padding: 15px;
        }
    }
    @media (max-width: 540px) {
        height: 85vh;
    }
}

.h-s1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &__logo {
        display: flex;
        align-items: center;
        svg {
            margin-right: 8px;
        }

        span {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 22px;
            color: #FFFFFF;
            
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        height: 55px;
        a {
            text-decoration: none;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            color: #FFFFFF;

        }
    }
    @media (max-width: 1440px) {
        &__logo {
            svg {
                margin-right: 8px;
                width: 18px;
                height: 56px;
            }
            span {
                font-size: 20px;
                line-height: 20px;
            }
        }
        &__contacts {
            height: 45px;
            a {
                font-size: 15px;
                line-height: 15px;
            }
        }
    }
    @media (max-width: 990px) {
        &__logo {
            svg {
                margin-right: 5px;
                width: 16px;
                height: 50px;
            }
            span {
                font-size: 19px;
                line-height: 19px;
            }
        }
        &__contacts {
            height: 40px;
            a {
                font-size: 14px;
                line-height: 14px;
            }
        }
    }
    @media (max-width: 540px) {
        align-items: center;
        &__logo {
            svg {
                margin-right: 5px;
                width: 15px;
                height: 48px;
            }
            span {
                font-size: 16px;
                line-height: 16px;
            }
        }
        &__contacts {
            height: auto;
            flex-direction: row;
            a {
                p {
                    display: none;
                }
            }
            
        }
    }
}

.iconbutton {
    display: none !important;
    padding: 5px !important;
    svg {
        fill: #FFFFFF;

    }
    @media (max-width: 540px) {
        display: block !important;
        margin: 0px 5px !important;
    }
}

.m-s1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1 {
        display: flex;
        flex-direction: column;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 59.695px;
        line-height: 81px;
        letter-spacing: 0.016em;
        color: #FFFFFF;
        
        span {
            margin-left: 70px;
        }

        p {
            color: #89AEF8;
        }
    }

    &__contact {
        margin-top: 70px;
        display: flex;
        align-items: center;
        button {
            background: #FFFFFF;
            color: #000000;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            color: #1D2130;
            text-transform: none;
            padding: 16px 32px;
            backdrop-filter: blur(80px);
            border-radius: 4px;
            &:hover {
                background: #F1F1F1;
            }
        }

        a {
            cursor: pointer;
            margin-left: 40px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            color: #FFFFFF;
            text-decoration: none;
            display: flex;
            align-items: center;
            svg {
                margin-right: 8px;
            }
        }
    }
    @media (max-width: 1440px) {
        h1 {
            font-size: 50px;
            line-height: 70px;
            
            span {
                margin-left: 60px;
            }
        }
    
        &__contact {
            margin-top: 50px;
            button {
                font-size: 16px;
                line-height: 16px;
                padding: 15px 28px;
            }
    
            a {
                margin-left: 36px;
                font-size: 16px;
                line-height: 16px;
                svg {
                    margin-right: 6px;
                }
            }
        }
    }
    @media (max-width: 990px) {
        h1 {
            font-size: 38px;
            line-height: 50px;
            
            span {
                margin-left: 40px;
            }
        }
    
        &__contact {
            margin-top: 40px;
            button {
                font-size: 14px;
                line-height: 14px;
                padding: 14px 20px;
            }
    
            a {
                margin-left: 30px;
                font-size: 14px;
                line-height: 14px;
                svg {
                    margin-right: 6px;
                }
            }
        }
    }
    @media (max-width: 540px) {
        h1 {
            font-size: 28px;
            line-height: 40px;
            
            span {
                margin-left: 30px;
            }
        }
    
        &__contact {
            margin-top: 50px;
            button {
                font-size: 14px;
                line-height: 14px;
                padding: 14px 20px;
            }
    
            a {
                margin-left: 30px;
                font-size: 14px;
                line-height: 14px;
                span {
                    content: '';
                    display: block;
                    width: 26px;
                    height: 26px;
                    background: #FFFFFF;
                    border-radius: 100%;
                    margin-right: 8px;
                }
                svg {
                    margin-right: 0px;
                }
            }
        }
    }
}

.f-s1 {
    display: grid;
    grid-template-columns: 0.25fr 1.4fr 0.3fr;
    column-gap: 13px;
    margin: 0px 30px;
    align-items: center;
    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #FFFFFF;
        min-width: 230px;
    }

    span {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #E5E5E5;
        backdrop-filter: blur(30px);
    }
    @media (max-width: 1440px) {
        margin: 0px 20px;
    }
    @media (max-width: 990px) {
        margin: 0px 10px;
        p {
            font-size: 14px;
            line-height: 14px;
            min-width: 200px;
        }
    }
    @media (max-width: 540px) {
        margin: 0px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            font-size: 12px;
            line-height: 12px;
            min-width: 0px;
            width: auto;
            text-align: center;
        }
        span {
            content: '';
            display: block;
            width: 60px;
            min-width: 60px;
            height: 1px;
            background: #E5E5E5;
            backdrop-filter: blur(30px);
        }
    }
}